@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout_for_about.cshtml";
}
@model My_Database.ThongTinKhachHang

<div class="container-fluid" >
        <div class="row">
            <div class="col-sm-8">
                <div class="carousel slide" id="mycarousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                        <li data-target="#mycarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/HinhAnh/quangcao.jpg" style="width: 1000px; height: 500px;">
                        </div>
                        <div class="item">
                            <img src="~/HinhAnh/quangcao_2.png" style="width: 1000px; height: 500px;">
                        </div>
                        <div class="item">
                            <img src="~/HinhAnh/quangcao_3.png" style="width: 1000px; height: 500px;">
                        </div>
                        <div class="item">
                            <img src="~/HinhAnh/quangcao_4.jpg" style="width: 1000px; height: 500px;">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#mycarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#mycarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/HinhAnh/quangcao5.jpg" style="width: 80%; height: 250px;">
                <img src="~/HinhAnh/quangcao_6.jpg" style="width: 80%; height: 250px;">
            </div>
        </div>
        
    </div>
   <!--Thời trang nam-->
  
    <div class="container-fluid">
        <h3 style = "color: brown;">Thời trang nam</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a  href="#"> 
                        <img src="https://cf.shopee.vn/file/ebdc6d9799275c96148ece52af4aa79f">
                        <div class="caption">
                            <p>
                               Áo thun nam Ulzzang Hàn Quốc
                            </p>
                            <p>
                                Giá: 165.000 đ
                            </p>
                        </div>
                    </a>
                </div>
               
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a  href="#">
                        <img src="https://cf.shopee.vn/file/0d30cd512491fe280e71cca803a7bb60">
                        <div class="caption">
                            <p>
                                Bộ quần áo thun thể thao Nam có mũ
                            </p>
                            <p>
                                Giá: 600.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a  href="#">
                        <img src="https://thumb.danhsachcuahang.com/image/2019/08/top-4-shop-ban-ao-so-mi-cho-nam-dep-tren-duong-au-co-thumb-557-1566442458-5d5e03da06f91.jpg">
                        <div class="caption">
                            <p>
                                Áo sơ mi cho nam đẹp
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://cf.shopee.vn/file/a4fb84396cb7401f6034183a713b391c">
                        <div class="caption">
                            <p>
                                Áo Tàu - Áo Cổ Trang - Áo Nam Trung Quốc
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://buhaka.com/wp-content/uploads/2019/03/ao-thun-nam-form-rong-thoi-trang.jpg">
                        <div class="caption">
                            <p>
                                Áo Tàu - Áo Cổ Trang - Áo Nam Trung Quốc
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://lamishop.vn/wp-content/uploads/2018/11/Ao-nam-tay-dai-Push-Your-Limit.jpg">
                        <div class="caption">
                            <p>
                                Áo nam tay dài
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://vn-test-11.slatic.net/p/e0955b17f94bf23e134989de035dee7e.jpg">
                        <div class="caption">
                            <p>
                                Áo thun nam tay lỡ unisex PSON1 (Đen)
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="https://product.hstatic.net/1000379790/product/xanh_den_3bfa10f7a4e04005926b734e01151bb8_master.jpg">
                        <div class="caption">
                            <p>
                                Áo sơ mi nam dài tay có túi LADOS-587
                            </p>
                            <p>
                                Giá: 500.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!--Thời trang nữ-->

    <div class="container-fluid">
        <h3 style = "color: brown;">Thời trang nữ</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a  href="#"> 
                        <img src="https://www.remoingay.com/uploads/product/product_slide/20160825170847_48879.jpg" style="height: 250px;">
                        <div class="caption">
                            <p>
                               Áo nữ trễ vai
                            </p>
                            <p>
                                Giá: 380.000 đ
                            </p>
                        </div>
                    </a>
                </div>
               
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a  href="#">
                        <img src="https://vn-test-11.slatic.net/original/7ded4aaddd1a1d270eb998ecf0f04a8c.jpg_720x720q80.jpg_.webp" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo kiểu nữ trung niên sang trọng Big size vải Đũi cao cấp 2
                            </p>
                            <p>
                                Giá: 243.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a  href="#">
                        <img src="https://minhtruc.vn/wp-content/uploads/2019/01/Ao-kieu-phoi-no-vien-den-tina-hinh--400x480.jpg" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo kiểu phối nơ viền đen
                            </p>
                            <p>
                                Giá: 219.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a href="#">
                        <img src="https://image.yes24.vn/Upload/ProductImage/2019/2011496_L.jpg" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo kiểu nữ Quyên cổ V đỏ lé đen cá tính AA313
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a href="#">
                        <img src="https://lh3.googleusercontent.com/proxy/R80ivyiHC_HfgO4Uk75iqlJtb8xPv34LFKcR45IaFGnQ3ZAA3pdfW2NOj6UOR0nT4o_DhzMGKD3E3WzfC_pMcnZ4hRw1OpcnpvDFxRHNdiSOAxUTJpQ_4b8qNUJ1R05J5lMdviIwIhouJTO-aIGBOG8aySVda_w" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo thun nữ xinh xắn
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a href="#">
                        <img src="https://bizweb.dktcdn.net/100/107/464/files/9350132123-344566461.jpg?v=1538717883177" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo thun nữ tay dài
                            </p>
                            <p>
                                Giá: 300.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a href="#">
                        <img src="https://lh3.googleusercontent.com/proxy/I_PfrIVtzdf_Hgh_skG5xEwWVTcOTuou6DyTlnA6h89kElJ9_7MMttJfGICtoKvMQCqsRlh4ryu0HG0WyteHD5_6KiIEOLB9QaPTeRxEsvhkgrj0MReIo06qyP9OXoy26L7gJdw7u5b_zbFW7eJowqOvVaK4tALyNvGbeRKIOPARx7SKJ9nHYHiM0nk-MKSncjxK83wBWn-Z90ah82b6Pcze5JReJVTwULDwMhCfsg" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo nữ cổ sen sọc dễ thương
                            </p>
                            <p>
                                Giá: 500.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail" style="height: 350px;">
                    <a href="#">
                        <img src="https://media3.scdn.vn/img2/2018/4_21/eLwCeH_simg_de2fe0_500x500_maxb.jpg" style="height: 250px;">
                        <div class="caption">
                            <p>
                                Áo sơ mi nữ đẹp
                            </p>
                            <p>
                                Giá: 500.000 đ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
@*<style>
    #thongbao {
        color: #4cff00;
        background-color: #f00;
        display:none;
    }
</style>*@

    <script>
        $(document).ready(function (e) {
            $("#ic_dangki").css("display", "none");
            $("#ic_dangnhap").html("<span class='glyphicon glyphicon-user'></span> \n chào bạn:" + "@Model.Ten_Khanh_Hang");
        });
        
    </script>
